##########################################
#             code ownership
##########################################

# default ownership: default owners for everything in the repo
*       @zerodaycode/admins
